# Ignore large dataset files
DataSet/log2FPKM.tsv
DataSet/allProbIntensities.tsv

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

